<div class="container">
    @*Join Group*@
    <div class="row" id="Join" style="display:block;">
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User Name: <input type="text" id="userInput" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <button id="joinGroupButton" value="Join Gruop">Join Group</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
    </div>

    @*Grid*@
    <div class="row" id="Grid">
        &nbsp;
        <div class="row">
            <table class="table table-bordered table-responsive table-condensed">
                @*1.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="7"></td>
                </tr>
                @*2.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="7"></td>
                </tr>
                @*3.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="7"></td>
                </tr>
                @*4.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="7"></td>
                </tr>
                @*5.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="7"></td>
                </tr>
                @*6.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="7"></td>
                </tr>
                @*7.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="7"></td>
                </tr>
                @*8.Satır*@
                <tr style="text-align:center;">
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="0"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="1"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="2"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="3"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="4"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="5"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="6"></td>
                    <td class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="7"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
    </div>

    @*letters Grid*@
    <div class="row">
        &nbsp;
        <div class="row">
            <div class="col-lg-11" id="LetterGrid" style="display:none;">
                <p>Letter</p>
                <table class="table table-bordered table-responsive table-condensed" id="TurnOwnerLetters">
                    @*1.Satır*@
                    <tr style="text-align:center;">
                        <td id="letter-a" draggable="true" ondragstart="drag(event)">A</td>
                        <td id="letter-b" draggable="true" ondragstart="drag(event)">B</td>
                        <td id="letter-c" draggable="true" ondragstart="drag(event)">C</td>
                        <td id="letter-ç" draggable="true" ondragstart="drag(event)">Ç</td>
                        <td id="letter-d" draggable="true" ondragstart="drag(event)">D</td>
                        <td id="letter-e" draggable="true" ondragstart="drag(event)">E</td>
                        <td id="letter-f" draggable="true" ondragstart="drag(event)">F</td>
                        <td id="letter-g" draggable="true" ondragstart="drag(event)">G</td>
                        <td id="letter-ğ" draggable="true" ondragstart="drag(event)">Ğ</td>
                        <td id="letter-h" draggable="true" ondragstart="drag(event)">H</td>
                        <td id="letter-ı" draggable="true" ondragstart="drag(event)">I</td>
                        <td id="letter-i" draggable="true" ondragstart="drag(event)">İ</td>
                        <td id="letter-j" draggable="true" ondragstart="drag(event)">J</td>
                        <td id="letter-k" draggable="true" ondragstart="drag(event)">K</td>
                        <td id="letter-l" draggable="true" ondragstart="drag(event)">L</td>
                        <td id="letter-m" draggable="true" ondragstart="drag(event)">M</td>
                        <td id="letter-n" draggable="true" ondragstart="drag(event)">N</td>
                        <td id="letter-o" draggable="true" ondragstart="drag(event)">O</td>
                        <td id="letter-ö" draggable="true" ondragstart="drag(event)">Ö</td>
                        <td id="letter-p" draggable="true" ondragstart="drag(event)">P</td>
                        <td id="letter-r" draggable="true" ondragstart="drag(event)">R</td>
                        <td id="letter-s" draggable="true" ondragstart="drag(event)">S</td>
                        <td id="letter-ş" draggable="true" ondragstart="drag(event)">Ş</td>
                        <td id="letter-t" draggable="true" ondragstart="drag(event)">T</td>
                        <td id="letter-u" draggable="true" ondragstart="drag(event)">U</td>
                        <td id="letter-ü" draggable="true" ondragstart="drag(event)">Ü</td>
                        <td id="letter-v" draggable="true" ondragstart="drag(event)">V</td>
                        <td id="letter-y" draggable="true" ondragstart="drag(event)">Y</td>
                        <td id="letter-z" draggable="true" ondragstart="drag(event)">Z</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-1" id="OpponentLetterGrid" style="display:none;">
                <p>Opponent Letter</p>
                <table class="table table-bordered table-responsive table-condensed" id="OpponentLetter">
                    @*1.Satır*@
                    <tr style="text-align:center;">
                        <td id="letter-opponent" draggable="true" ondragstart="drag(event)" height="20px;" width="20px;">A</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
    </div>

    @*Show Messages*@
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
