<div class="container">
    @*Join Group*@
    <div class="row" id="Join" style="display:block;">
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User Name: <input type="text" id="userInput" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <button id="joinGame" value="Start Game">Start Game</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
    </div>

    @*Grid and Messages*@
    <div class="row" id="GridandMessage" style="display:block;">
        &nbsp;

        @*Grid*@
        <div class="col-lg-6">
            &nbsp;
            <div class="row">
                <table id="TableGrid" class="table table-bordered table-responsive table-condensed" style="width:320px; height:320px;">
                    @*1.Satır*@
                    <tr>
                        <td align="center" id="id00" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="0"></td>
                        <td align="center" id="id01" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="1"></td>
                        <td align="center" id="id02" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="2"></td>
                        <td align="center" id="id03" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="3"></td>
                        <td align="center" id="id04" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="4"></td>
                        <td align="center" id="id05" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="5"></td>
                        <td align="center" id="id06" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="6"></td>
                        <td align="center" id="id07" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="0" y="7"></td>
                    </tr>
                    @*2.Satır*@
                    <tr>
                        <td align="center" id="id10" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="0"></td>
                        <td align="center" id="id11" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="1"></td>
                        <td align="center" id="id12" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="2"></td>
                        <td align="center" id="id13" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="3"></td>
                        <td align="center" id="id14" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="4"></td>
                        <td align="center" id="id15" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="5"></td>
                        <td align="center" id="id16" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="6"></td>
                        <td align="center" id="id17" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="1" y="7"></td>
                    </tr>
                    @*3.Satır*@
                    <tr>
                        <td align="center" id="id20" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="0"></td>
                        <td align="center" id="id21" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="1"></td>
                        <td align="center" id="id22" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="2"></td>
                        <td align="center" id="id23" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="3"></td>
                        <td align="center" id="id24" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="4"></td>
                        <td align="center" id="id25" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="5"></td>
                        <td align="center" id="id26" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="6"></td>
                        <td align="center" id="id27" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="2" y="7"></td>
                    </tr>
                    @*4.Satır*@
                    <tr>
                        <td align="center" id="id30" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="0"></td>
                        <td align="center" id="id31" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="1"></td>
                        <td align="center" id="id32" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="2"></td>
                        <td align="center" id="id33" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="3"></td>
                        <td align="center" id="id34" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="4"></td>
                        <td align="center" id="id35" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="5"></td>
                        <td align="center" id="id36" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="6"></td>
                        <td align="center" id="id37" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="3" y="7"></td>
                    </tr>
                    @*5.Satır*@
                    <tr>
                        <td align="center" id="id40" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="0"></td>
                        <td align="center" id="id41" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="1"></td>
                        <td align="center" id="id42" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="2"></td>
                        <td align="center" id="id43" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="3"></td>
                        <td align="center" id="id44" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="4"></td>
                        <td align="center" id="id45" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="5"></td>
                        <td align="center" id="id46" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="6"></td>
                        <td align="center" id="id47" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="4" y="7"></td>
                    </tr>
                    @*6.Satır*@
                    <tr>
                        <td align="center" id="id50" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="0"></td>
                        <td align="center" id="id51" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="1"></td>
                        <td align="center" id="id52" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="2"></td>
                        <td align="center" id="id53" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="3"></td>
                        <td align="center" id="id54" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="4"></td>
                        <td align="center" id="id55" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="5"></td>
                        <td align="center" id="id56" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="6"></td>
                        <td align="center" id="id57" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="5" y="7"></td>
                    </tr>
                    @*7.Satır*@
                    <tr>
                        <td align="center" id="id60" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="0"></td>
                        <td align="center" id="id61" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="1"></td>
                        <td align="center" id="id62" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="2"></td>
                        <td align="center" id="id63" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="3"></td>
                        <td align="center" id="id64" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="4"></td>
                        <td align="center" id="id65" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="5"></td>
                        <td align="center" id="id66" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="6"></td>
                        <td align="center" id="id67" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="6" y="7"></td>
                    </tr>
                    @*8.Satır*@
                    <tr>
                        <td align="center" id="id70" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="0"></td>
                        <td align="center" id="id71" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="1"></td>
                        <td align="center" id="id72" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="2"></td>
                        <td align="center" id="id73" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="3"></td>
                        <td align="center" id="id74" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="4"></td>
                        <td align="center" id="id75" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="5"></td>
                        <td align="center" id="id76" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="6"></td>
                        <td align="center" id="id77" class="gridCell" ondrop="drop(event)" ondragover="allowDrop(event)" x="7" y="7"></td>
                    </tr>
                </table>
            </div>
        </div>

        @*Show Messages*@
        <div class="col-lg-6" style=" height: 320px; overflow-y: scroll;">
            &nbsp;
            <h4 id="userName"></h4>
            <div class="row" style="display:block;">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>

    @*letters Grid*@
    <div id="Letters" class="row" style="display:block;">
        &nbsp;
        <div class="row">
            <div class="col-lg-11" id="LetterGrid" style="display:none;">
                <p>Letter</p>
                <table id="lettersGrid" class="table table-bordered table-responsive table-condensed">
                    <tr id="TurnOwnerLetters"></tr>
                    <tr id="TurnOwnerLettersPoints"></tr>
                </table>
            </div>

            <div class="col-lg-1" id="OpponentLetterGrid" style="display:none;">
                <p>Opponent Letter</p>
                <table class="table table-bordered table-responsive table-condensed" id="OpponentLetter">
                    <tr>
                        <td id="letter-opponent" align="center" style="vertical-align: middle; width: 40px; height: 40px;" draggable="true" ondragstart="drag(event)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*Result*@
    <div id="Result" class="row" style="display:none;">
        &nbsp;
        <h2 id="Gameover" align="center"></h2>
        <div class="col-md-6">
            <p><b>Winner</b></p>
            <p>Name: <span id="winnerName"></span></p>
            <p>Score: <span id="winnerScore"></span></p>
            <p>Meaningful Words <ul id="winnerWords"></ul></p>
        </div>
        <div class="col-md-6">
            <p><b>Loser</b></p>
            <p>Name: <span id="loserName"></span></p>
            <p>Score: <span id="loserScore"></span></p>
            <p>Meaningful Words <ul id="loserWords"></ul></p>
        </div>
    </div>

    @*Restart Game*@
    <div id="RestartGame" class="row" style="display:none;">
        &nbsp;
        <h2 id="Restart"></h2>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
